body {
    overflow: overlay!important;
    scrollbar-width: thin;
    scrollbar-color: #c81d25 transparent;
}
  
/* Works on Chrome/Edge/Safari */
::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c81d25;
    border-radius: .4rem;
    border: .2rem solid #c81d25;
}

.layout-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
    //min-height: 100vh;
    flex: 1 0 auto;
    background-image: linear-gradient(
    135deg,
    #e9ecef 0%,
    #dee2e6 100%
  );
}

.content-wrapper {
  min-height: 100vh;
  padding: 2rem 1rem 2rem 1rem;
}